*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: #23272a;
}
main{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container{
    position: relative;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e10f48;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card:after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
    
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}
.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx{
    height: 210px;
    
}
.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: #ffffff;   
}
.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111111;
    background: #ffffff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111111;
    border-radius: 4px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover{
    background: #e10f48;
}
.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2){
    background: #e10f48;
}
.container .card .contentBx .color span:nth-child(3){
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(4){
    background: #D80004;
}
.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.container:nth-child(2) .card .contentBx .size span:hover{
    background: #9bdc28;
}
.container:nth-child(2) .card:before{
    background: #9bdc28;
}
.container:nth-child(3) .card .contentBx .size span:hover{
    background: #D80004;
}
.container:nth-child(4) .card .contentBx .size span:hover{
    background: #6A0C22;
}
.container:nth-child(5) .card .contentBx .size span:hover{
    background: #C4C3C3;
}
.container:nth-child(6) .card .contentBx .size span:hover{
    background: #2C4EA2;
}

.container:nth-child(3) .card:before{
    background: #D80004;
}
.container:nth-child(4) .card:before{
    background: #ac1b3d;
}
.container:nth-child(5) .card:before{
    background: #C4C3C3;
}
.container:nth-child(6) .card:before{
    background: #2C4EA2;
}

.container:nth-child(2) .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
}
.container:nth-child(2) .card .contentBx .color span:nth-child(3){
    background: #e10f48;
}
.container:nth-child(2) .card .contentBx .color span:nth-child(4){
    background: #D80004;
}

.container:nth-child(3) .card .contentBx .color span:nth-child(2){
    background: #D80004;
}
.container:nth-child(3) .card .contentBx .color span:nth-child(3){
    background: #9bdc28;
}
.container:nth-child(3) .card .contentBx .color span:nth-child(4){
    background: #e10f48;
}
.container:nth-child(4) .card .contentBx .color span:nth-child(2){
    background: #6A0C22;
}
.container:nth-child(4) .card .contentBx .color span:nth-child(3){
    background: #C4C3C3;
}
.container:nth-child(4) .card .contentBx .color span:nth-child(4){
    background: #2C4EA2;
}
.container:nth-child(5) .card .contentBx .color span:nth-child(2){
    background: #C4C3C3;
}
.container:nth-child(5) .card .contentBx .color span:nth-child(3){
    background: #6A0C22;
}
.container:nth-child(5) .card .contentBx .color span:nth-child(4){
    background: #2C4EA2;
}
.container:nth-child(6) .card .contentBx .color span:nth-child(2){
    background: #2C4EA2;
}
.container:nth-child(6) .card .contentBx .color span:nth-child(3){
    background: #C4C3C3;
}
.container:nth-child(6) .card .contentBx .color span:nth-child(4){
    background: #6A0C22;
}

@media screen and (max-width: 1003px){
    main{
        grid-template-columns: 1fr;
        padding: 20px 0;
    }
}